.container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.themeSwitcher {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
}