
.container {
  display: flex;
  background: var(--background-color-table);
  border: 0.5px solid #dedede;
  border-radius: 8px;
  color: var(--text-color);
}

.overview_panel img {
  width: 100%;
  border-radius: 4px;
}

.overview_panel {
  padding: 20px;
  border-radius: 8px;
}

.overview_name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overview_region {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 24px;
}

.overview_numbers {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.overview_label {
  font-size: 14px;
}

.container_left {
    width: 30%;
    border-right: 1px solid #dedede;
}

.container_right {
    width: 70%;
}

.details_panel {
  border-radius: 8px;
}

.details_panel_row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.details_panel_borders {
  padding: 20px;
}

.details_panel_borders_container {
  display: flex;
  overflow-x: auto;
}

.details_panel_borders img {
  width: 120px;
  height: 80px;
  border-radius: 4px;
}

.details_panel_borders_country {
  margin: 5px;  
  text-align: center;
}

.details_panel_borders_label {
  margin-bottom: 20px;
}